.navbar {
	background-color: #881c1c;
}

.navbar-burger {
		background-color: white;

}

#header1 {
	color : #881c1c;
}

body {
	font-family: sans-serif;
}

#anj {
	font-size: 75px;
font-family: 'Oswald', sans-serif;

}