.navbar {
	background-color: #881c1c;
}

.navbar-burger {
	color: pink;
	background-color: #881c1c;
}

#header1 {
	color : #881c1c;
}

body {
	font-family: sans-serif;
}

#anj {
font-size: 60px;
font-family: 'Oswald', sans-serif;

}
#tl:hover {
	background-color: #e8c2c4;
}

#one:hover {
	background-color: #29352C;
}
#two:hover {
	background-color: #29352C;
}
#three:hover {
	background-color: #29352C;
}
#four:hover {
	background-color: #29352C;



